.headerStyle{
    background: #fff;
    border: solid 1px gray;
    padding: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    color:black;
    margin: 5px 5px 0;
}

.bodyStyle{
    background: #fff;
    border: solid 1px gray;
    padding: 5px;
    margin: 0 5px 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top:none;
    height:90%;
    color:black;
}

